

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {

  font-size: 62.5%;
  overflow-x: hidden;

}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;


  overflow-x: hidden;
}


.container {

  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;

  
}



.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}



.grid--center-v {
  align-items: center;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;

  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #0587d2;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;


  border: none;
  cursor: pointer;
  font-family: inherit;

 
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #0587d2;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #0587d2;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;

 
  box-shadow: inset 0 0 0 3px #fff;
}

.btn--form {
  background-color: #00559a;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: #fff;
  color: #555;
}

.link:link,
.link:visited {
  display: inline-block;
  color: #0587d2;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #0587d2;
  border-bottom: 1px solid transparent;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #0587d2;
}



.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}


.progress-wrapper {
  margin: 20px 0;
}

.progress {
  position: relative;
  width: 100%;
  height: 50px;
  border-radius: 20px;
  background-color: #f5f5f5; 
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  border: 2px solid #8338ec;
}

.progress-water {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #0073ff, #0084ff);
  z-index: 1;
  overflow: hidden;
}

.progress-water::after {
  content: '';
  position: absolute;
  top: -50%;
  left: 0;
  width: 200%;
  height: 200%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  animation: wave-animation 4s infinite linear;
}

.progress-label {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
  text-align: center;
}

@keyframes wave-animation {
  0% {
      transform: translate(-50%, -75%) scale(1.5);
  }
  50% {
      transform: translate(-50%, -65%) scale(1.4);
  }
  100% {
      transform: translate(-50%, -75%) scale(1.5);
  }
}
.progress-target
{
  position: relative;
  left: 94%;
}